button {
    font-size:2rem;
    padding-top:4rem;
    padding-bottom:4rem;
    padding-right: 7.8rem;
    padding-left: 7.8rem;
}

main {
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

}

.img1 {
    width:20rem;
    grid-column-start: 1;
    grid-row-start:3;
}

.img2 {
    width:20rem;
    grid-column-start:5;
    grid-row-start:3;
    margin-left:4rem;
}

.img3 {
    width:20rem;
    grid-column-start: 3;
    grid-row-start:6;
    margin-left:3rem;
}

.img4 {
    width:10rem;
    grid-column-start: 3;
    grid-row-start:4;
}

.img5 {
    width:15.6rem;
}